#container{
    width: 7.5rem;
    position: relative;
}



.arScene{
    width:100%;
    height:100%;
    position: absolute;
    background-image: url("../img/ar_bg_06.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    z-index: 17;
}



.mainBar{
    width:100%;
    height:100%;
    position: absolute;
    background-image: url("../img/bar_bg_18.jpg");
    background-repeat:no-repeat;
    background-size: 7.5rem 30.93rem;
    background-position:0rem 0rem;
}
.mainBar .barItem{
    position: absolute;
    transition:all 1s ease 0s;
}
.mainBar .barItem.active{
    opacity:1;
    margin-top:0;
}
.mainBar .barItem img{
    width: 100%;
}
.mainBar .barItem-1{
    width: 2.85rem;
    left: 0;
    top: 5%;
    margin-left: 0.45rem;
    opacity:0;
    margin-top:30px;
 }
.mainBar .barItem-2{
    width: 2.96rem;
    right: 0;
    top: 15%;
    margin-right: 0.32rem;
    opacity:0;
    margin-top:30px;
}
.mainBar .barItem-3{
    width: 2.95rem;
    left: 0;
    top: 30%;
    margin-left: 0.38rem;
    opacity:0;
    margin-top:30px;
}
.mainBar .barItem-4{
    width: 2.92rem;
    right: 0;
    top:45%;
    margin-right: 0.42rem;
    opacity:0;
    margin-top:30px;
}
.mainBar .touchIcon{
    width: 0.64rem;
    height: 1.83rem;
    background:url("../img/bar_icon_03.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    left: 50%;
    margin-left: -0.32rem;
    top: 0;
    position: absolute;
    z-index: 11;
}
.mainBar .touchIcon.animate {
    transition:all 1s ease 0s;
}
.mainBar .touchIcon.reset{
    /*transition:all 1s ease */
    top:0;
}
.mainBar .touchIcon{
    width: 0.64rem;
    height: 1.83rem;
    background:url("../img/bar_icon_03.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    left: 50%;
    margin-left: -0.32rem;
    top: 0;
    position: absolute;
    z-index: 11;
}


.mainBar  .touchLine{
    width: 0.02rem;
    height:90%;
    background: #ffd682;
    left: 50%;
    margin-left:-0.01rem;
    position: absolute;
    margin-top: 5%;
    z-index:10;
}


.arScene .ar_item_1{
    width: 3.06rem;
    height: 3.16rem;
    background: url("../img/ar_icon_1_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.arScene .ar_item_2{
    width: 3.06rem;
    height: 3.16rem;
    background: url("../img/ar_icon2_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.arScene .ar_item_3{
    width: 3.06rem;
    height: 3.16rem;
    background: url("../img/ar_icon_3_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainIndex{
    position: absolute;
    width:100%;
    height:100%;
    background-image: url("../img/index_bg_02.jpg");
    background-repeat: no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.mainIndex img{
    width:100%;
}
.mainIndex.animate .logo{
    opacity: 1;
}
.mainIndex.animate .img {
    opacity: 1;
}
.mainIndex.animate .introd {
    opacity: 1;
}
.mainIndex .logo{
    width: 2.76rem;
    position: absolute;
    left:2.45rem;
    top: 1.4rem;
    opacity: 0;
    transition:opacity 1.5s ease 0s;
}
.mainIndex .img {
    width: 6.84rem;
    position: absolute;
    left: 0.59rem;
    top: 1.56rem;
    opacity: 0;
    transition:opacity 1.5s ease 2s;
}
.mainIndex .introd {
    width: 5.99rem;
    position: absolute;
    left:0.78rem;
    top: 4.35rem;
    opacity: 0;
    transition:opacity 1.5s ease 1s;
}
.mainIndex .handpull{
    width:0.6rem;
    height: 0.4rem;
    position: absolute;
    background: url("../img/handpull.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    bottom:0.8rem;
    left:50%;
    margin-left: -0.3rem;
}
.bounceDom {
    -webkit-animation:bounce 1s .2s ease both infinite;
    -moz-animation:bounce 1s .2s ease both infinite;
}
@-webkit-keyframes bounce{
    0%{-webkit-transform:translateY(0)}
    100%{-webkit-transform:translateY(-30px)}
    /*60%{-webkit-transform:translateY(-15px)}*/
}
@-moz-keyframes bounce{
    0%{-webkit-transform:translateY(0)}
    100%{-webkit-transform:translateY(-30px)}
}