#container{
    width: 7.5rem;
    position: relative;
}

.hide {display:none;}

.arScene{
    width:100%;
    height:100%;
    position: absolute;
    background-image: url("../img/ar_bg_06.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    z-index: 17;
}
.arScene .clickMsg{
    width: 4.75rem;
    height: 0.31rem;
    position: absolute;
    margin-left: -2.36rem;
    left:50%;
    top: 30px;
}
.arScene .clickMsg img{
    width:100%;
}
.mainBar{
    width:100%;
    height: 100%;
    background-image: url("../img/main_index_bg_02.jpg");
    background-repeat:no-repeat;
    background-size: 7.5rem 45.38rem;
    background-position:0rem 0rem;
    position: absolute;

}
.mainBar.relation{
    transition:all 1s ease 0s;
    transition-property:background-position;
}
.mainBar .barItem{
    position: absolute;
    transition:all 1s ease 0s;
}
.mainBar .barItem.active{
    opacity:1;
    margin-top:0;
}
.mainBar .barItem img{
    width: 100%;
}
.mainBar .barItem-1{
    width: 2.85rem;
    left: 0;
    top: 5%;
    margin-left: 0.45rem;
    opacity:0;
    margin-top:30px;
 }
.mainBar .barItem-2{
    width: 2.96rem;
    right: 0;
    top: 15%;
    margin-right: 0.32rem;
    opacity:0;
    margin-top:30px;
}
.mainBar .barItem-3{
    width: 2.95rem;
    left: 0;
    top: 30%;
    margin-left: 0.38rem;
    opacity:0;
    margin-top:30px;
}
.mainBar .barItem-4{
    width: 2.92rem;
    right: 0;
    top:45%;
    margin-right: 0.42rem;
    opacity:0;
    margin-top:30px;
}
.mainBar .touchIcon{
    width: 0.64rem;
    height: 1.83rem;
    background:url("../img/icon.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    left: 50%;
    margin-left: -0.32rem;
    top: 0;
    position: absolute;
    z-index: 11;
    display: none;
}
/*.mainBar .touchIcon.high{*/
    /*background:url("../img/iconhigh.png");*/
    /*background-size: 100% 100%;*/
    /*background-repeat:no-repeat;*/
/*}*/
.mainBar .touchIcon.animate {
    transition:transform 1s ease 0s;
}
.mainBar .touchIcon.reset{
    top:0;
}
.mainBar .touchIcon{
    width: 0.64rem;
    height: 1.83rem;
    background:url("../img/bar_icon_03.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    left: 50%;
    margin-left: -0.32rem;
    top: 50%;
    margin-top: -5.33rem;
    position: absolute;
    z-index: 11;
}
.mainBar .touchLine{
    width: 0.16rem;
    height:7rem;
    background: url("../img/arraw.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    top:50%;
    margin-top: -3.5rem;
    margin-left:-0.08rem;
    position: absolute;
    z-index:10;
    display: none;
} .ar_item_1{
    width: 3.06rem;
    height: 3.16rem;
    background: url("../img/ar_icon_1_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
 .ar_item_2{
    width: 3.06rem;
    height: 3.16rem;
    background: url("../img/ar_icon2_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
 .ar_item_3{
    width: 3.06rem;
    height: 3.16rem;
    background: url("../img/ar_icon_3_03.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ar_item_1{
    width: 3.06rem;
    height: 3.16rem;
    background: url(../img/ar_icon_1_03.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 20;
    top: 1rem!important;
    left: 3.6rem!important;
    -webkit-animation:move_1 2s linear infinite;
}
.ar_item_2{
    width: 3.06rem;
    height: 3.16rem;
    background: url(../img/ar_icon2_03.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 20;
    top: 3.8rem!important;
    left: 0.43rem!important;
    -webkit-animation:move_2 2s linear infinite;
}
.ar_item_3{
    width: 3.06rem;
    height: 3.16rem;
    background: url(../img/ar_icon_3_03.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 20;
    top: 6.5rem!important;
    left: 3rem!important;
    -webkit-animation:move_3 2s linear infinite;
}

.mainIndex{
    position: absolute;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    overflow: auto;
}
.mainIndex img{
    width:100%;
}
.mainIndex.animate .logo{
    opacity: 1;
    margin-top:0;
}
.mainIndex.animate .img {
    opacity: 1;
    margin-top:0;
}
.mainIndex.animate .introd {
    opacity: 1;
    margin-top:0;
}
.mainIndex.animate .addMsg {
    opacity: 1;
    margin-top:0;
}
.mainIndex .logo{
    width: 2.76rem;
    position: absolute;
    left:2.45rem;
    top: 1.4rem;
    opacity: 0;
    transition:opacity 1.5s ease 0s;
    transition-property:opacity,margin;
    margin-top:-50px;
}
.mainIndex .img {
    width: 6.84rem;
    position: absolute;
    left: 0.59rem;
    top: 1.56rem;
    opacity: 0;
    transition:opacity 1.5s ease 2s;
    transition-property:opacity,margin;
}
.mainIndex .introd {
    width: 5.99rem;
    position: absolute;
    left:0.78rem;
    top: 4.35rem;
    opacity: 0;
    transition:opacity 1.5s ease 1s;
    transition-property:opacity,margin;
    margin-top:30px;
}
.mainIndex .addMsg{
    width: 2.91rem;
    height: 0.61rem;
    position: absolute;
    left:50%;
    margin-left: -1.45rem;
    top: 8.15rem;
    transition:opacity 1.5s ease 3s;
    margin-top:50px;
    transition-property:opacity,margin;
    opacity: 0;
}
.mainIndex .addMsg img{
    width:100%;
}



.mainIndex .handpull{
    width:0.6rem;
    height: 0.4rem;
    position: absolute;
    background: url("../img/handpull.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    bottom:0.8rem;
    left:50%;
    margin-left: -0.3rem;
}
.bounceDom {
    -webkit-animation:bounce 1s .2s ease both infinite;
    -moz-animation:bounce 1s .2s ease both infinite;
}
@-webkit-keyframes bounce{
    0%{-webkit-transform:translateY(0)}
    100%{-webkit-transform:translateY(-30px)}
    /*60%{-webkit-transform:translateY(-15px)}*/
}
@-moz-keyframes bounce{
    0%{-webkit-transform:translateY(0)}
    100%{-webkit-transform:translateY(-30px)}
}
.layer{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top: 0;
    display: none;
}
.layer_1{
    background:url("../img/layer_1.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.layer_2{
     background:url("../img/layer_2.jpg");
     background-repeat:no-repeat;
     background-size: 100% 100%;
 }
.layer_3{
    background:url("../img/layer_3.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes move_1{
    0%{transform:translateY(0rem)}
    33%{transform:translateY(0.1rem)}
    66%{transform:translateY(-0.1rem)}
    100%{transform:translateY(0rem)}
}
@-webkit-keyframes move_2{
    0%{transform:scale(1)}
    33%{transform:scale(0.97)}
    66%{transform:scale(1.03)}
    100%{transform:scale(1)}
}
@-webkit-keyframes move_3{
    0%{transform:translateY(0rem)}
    20%{transform:translateY(-0.1rem)}
    80%{transform:translateY(0.1rem)}
    100%{transform:translateY(0rem)}
}