body{
    background-color: #181617;
}
#container{
    position: relative;
    width: 7.5rem;
}
.animate .music_start{
    opacity: 1;
}
.music_start{
    width:1.29rem;
    position: absolute;
    left: 3.11rem;
    top:9.04rem;
    transition:opacity 1s ease 7s;
    opacity: 0;
}
.music_start img{
    width: 100%;
}
.animate .music_btn{
    opacity: 1;
}
.music_btn{
     width:6.21rem;
     position: absolute;
     left: 0.645rem;
     top:9.49rem;
    transition:opacity 1s ease 7.8s;
    opacity: 0;
}
.music_btn img{
    width: 100%;
}

.music_play{
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    width: 0.7rem;
    height: 0.7rem;
    overflow: hidden;

    display:none;
    z-index: 99;
}
.music_play.xz{
    -moz-backface-visibility: visible;
    -moz-transform-origin: center center;
    -moz-animation: musicanimate 2s 0s infinite linear normal backwards;
    -webkit-backface-visibility: visible;
    -webkit-transform-origin: center center;
    -webkit-animation: musicanimate 2s 0s infinite linear normal backwards;
}
.music_play img{
    width:100%;
}

@-webkit-keyframes musicanimate {
    0% {
        -webkit-transform: rotate(0deg) rotate(180 \] ] deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes musicanimate {
    0% {
        -moz-transform: rotate(0deg) rotate(180 \] ] deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
.music_play img{
    width:0.7rem;
}
.steps .step{
    position:absolute;
    width: 6.21rem;
    left: 0.645rem;
    transition:all 1.5s ease 1s;
    transition-property:opacity,margin;
}
.steps .step_1{
    background:url("../img/step_1_bg_03.png");
    height: 1.15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 1.61rem;
    opacity: 0;
    margin-left:-1.29rem;
}
.steps .step_2{
    background:url("../img/step_2_bg_03.png");
    height: 0.7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 2.9rem;
    opacity: 0;
    margin-left:1.29rem;
}
.steps .step_3{
    background:url("../img/step_2_bg_03.png");
    height: 0.7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 3.98rem;
    opacity: 0;
    margin-left:-1.29rem;

}
.steps .step_4{
    background:url("../img/step_3_bg_03.png");
    height: 0.7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 5.06rem;
    opacity: 0;
    margin-left:1.29rem;

}
.steps .step_5{
    background:url("../img/step_4_bg_03.png");
    height: 0.7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 6.47rem;
    opacity: 0;
    margin-left:-1.29rem;
}
.steps .step_6{
    background:url("../img/step_5_bg_03.png");
    height: 0.7rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 7.55rem;
    opacity: 0;
    margin-left:-1.29rem;
}

.steps .step_1 img.wordText{
    width:5.01rem;
    left: 0.84rem;
    top: 0.37rem;
    transition:all 1.5s ease 2.5s;
    transition-property:opacity,margin;
}
.steps .step_2 img.wordText{
    width:3.23rem;
    left: 1.4rem;
    top: 0.14rem;
    transition:all 1.5s ease 3s;
    transition-property:opacity,margin;

}
.steps .step_3 img.wordText{
    width:2.67rem;
    left: 1.71rem;
    top: 0.17rem;
    transition:all 1.5s ease 3.5s;
    transition-property:opacity,margin;

}
.steps .step_4 img.wordText{
    width:1.72rem;
    left: 2.18rem;
    top: 0.17rem;
    transition:all 1.5s ease 4s;
    transition-property:opacity,margin;

}
.steps .step_5 img.wordText{
    width:4.06rem;
    left: 1.02rem;
    top: 0.17rem;
    transition:all 1.5s ease 4.5s;
    transition-property:opacity,margin;
}
.steps .step_6 img.wordText{
    width:2.50rem;
    left: 1.78rem;
    top: 0.17rem;
    transition:all 1.5s ease 5s;
    transition-property:opacity,margin;
}
.steps .step img.wordText{
    position: absolute;
    opacity: 0;
    margin-top: 0.48rem;
}
.animate .steps .step img.wordText{
    opacity: 1;
    margin-top: 0;
}
.animate .step_1{
    opacity: 1;
    margin-left: 0;
}
.animate .step_2{
    opacity: 1;
    margin-left: 0;

}
.animate .step_3{
    opacity: 1;
    margin-left: 0;

}
.animate .step_4{
    opacity: 1;
    margin-left: 0;

}
.animate .step_5{
    opacity: 1;
    margin-left: 0;

}
.animate .step_6{
    opacity: 1;
    margin-left: 0;
}

